@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  background-color: #000;
  color: #eee;
  font-family: Poppins;
  font-size: 12px;
}

a {
  text-decoration: none;
}

/* carousel */
.carousel {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.carousel .list .item {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}
.carousel .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel .list .item .content {
  position: absolute;
  top: 10%;
  width: 40%;
  height: 80%;
  left: 30%;
  transform: translateX(-50%);
  padding: 20px 50px;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
  background-image: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0));
  border-radius: 20px;
}
.carousel .list .item .topic {
  font-size: 5em;
  font-weight: bold;
  line-height: 1.3em;
}
.carousel .list .item .topic {
  color: #0f4d6b;
}
.carousel .list .item h3 {
  color: #0f4d6b;
}
.carousel .list .item p,
li {
  color: #575555;
}
.carousel .list .item .buttons {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}
.carousel .list .item .buttons button {
  border: none;
  background-color: #0f4d6b;
  color: #fff;
  letter-spacing: 3px;
  font-family: Poppins;
  font-weight: 500;
}
.carousel .list .item .buttons button:hover {
  background-color: transparent;
  border: 1px solid #0f4d6b;
  color: #0f4d6b;
}

/* thumbail */
.thumbnail {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}
.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
  border-radius: 20px;
  border: 1px solid #fff;
}
.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.thumbnail .item .content {
  color: #fff;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}
.thumbnail .item .content .title {
  font-weight: 500;
}

/* arrows */
.arrows {
  position: absolute;
  top: 79.5%;
  right: 45%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.arrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0f4d6b;
  border: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  transition: 0.5s;
}
.arrows button:hover {
  border: 1px solid #0f4d6b;
  background-color: transparent;
  color: #0f4d6b;
}

/* animation */
.carousel .list .item:nth-child(1) {
  z-index: 1;
}

/* animation text in first item */
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}
@keyframes showContent {
  to {
    transform: translateY(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.carousel .list .item:nth-child(1) .content .topic {
  animation-delay: 0.4s !important;
}
.carousel .list .item:nth-child(1) .content .des {
  animation-delay: 0.6s !important;
}
.carousel .list .item:nth-child(1) .content .buttons {
  animation-delay: 0.8s !important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage 0.5s linear 1 forwards;
}
@keyframes showImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.carousel.next .thumbnail .item:nth-last-child(1) {
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}
.carousel.prev .list .item img {
  z-index: 100;
}
@keyframes showThumbnail {
  from {
    width: 0;
    opacity: 0;
  }
}
.carousel.next .thumbnail {
  animation: effectNext 0.5s linear 1 forwards;
}

@keyframes effectNext {
  from {
    transform: translateX(150px);
  }
}

/* running time */

.carousel .time {
  position: absolute;
  z-index: 1000;
  width: 0%;
  height: 3px;
  background-color: #f9d2a7;
  left: 0;
  top: 0;
}

.carousel.next .time,
.carousel.prev .time {
  animation: runningTime 1.5s linear 1 forwards;
}
@keyframes runningTime {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

/* prev click */

.carousel.prev .list .item:nth-child(2) {
  z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img {
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}
@keyframes outFrame {
  to {
    width: 150px;
    height: 220px;
    bottom: 50px;
    left: 50%;
    border-radius: 20px;
  }
}

.carousel.prev .thumbnail .item:nth-child(1) {
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button {
  pointer-events: none;
}

.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons {
  animation: contentOut 1.5s linear 1 forwards !important;
}

@keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}

/* responsive */
@media screen and (max-width: 1025px) and (orientation: portrait) {
  body {
    font-size: 18px;
  }
  .carousel .list .item .content {
    width: 80%;
    margin-left: 150px;
  }
  .arrows {
    top: 65%;
    right: 60%;
  }
}

@media screen and (max-width: 1025px) and (orientation: landscape) {
  .carousel .list .item .content {
    width: 80%;
    margin-left: 150px;
    height: 90%;
    top: 5%;
  }
  .arrows {
    top: 85%;
    right: 60%;
  }
}

@media screen and (max-width: 900px) {
  body {
    font-size: 14px;
  }
  .carousel .list .item .content {
    width: 80%;
    margin-left: 100px;
  }
  .arrows {
    top: 65%;
    right: 60%;
  }
}

@media screen and (max-width: 678px) {
  .carousel .list .item .content {
    padding-right: 0;
    width: 80%;
    margin-left: 50px;
  }
  .arrows {
    right: 55%;
    top: 80%;
  }
}

@media screen and (width: 540px) {
  body {
    font-size: 11.5px;
  }
  .carousel .list .item .content {
    margin-left: 80px;
  }
  .arrows {
    right: 56%;
  }
}

@media screen and (max-width: 395px) {
  body {
    font-size: 11.5px;
  }
  .carousel .list .item .content {
    height: 90%;
    top: 5%;
    padding-left: 20px;
  }
  .thumbnail .item {
    width: 90px;
    height: 132px;
  }
  .arrows {
    top: 85%;
    right: 60%;
  }
}
